body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;

	&.no-scroll {
		overflow: hidden;
	}
}

h1 {
	font-size: 100px;
	color: white;
	font-family: 'Alex Brush', cursive;
}

b {
	color: rgb(62, 10, 92);
}

h2 {
	font-size: 65px;
	color: white;
	font-family: 'Euphoria Script', cursive;
}

p {
	font-size: 87px;
	color: white;
	font-family: 'Dynalight', cursive;
}

.fsm {
	margin: 10vh 5vw;
	background-color: blue;
	height: 100px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #f5f5f5;
	font-size: 1.5rem;
	border-radius: 10px;
	transition: 1s;
	cursor: pointer;

	.fa {
		transition: 1s;
		color: #f5f5f5;
		font-size: 2.5vw;

		&:before {
			color: #f5f5f5;
		}
	}

	.modal-content {
		height: 0;
		width: 0;
		margin: 0;
	}

	p.modal-content {
		opacity: 0;
		transition: 1s;
	}

	&.about_me {
		background: linear-gradient(135deg, #83458e 0%, #608dc9 100%);
	}

	&.projects {
		background: linear-gradient(135deg, #6ecdc7 0%, #c7e4ec 100%);
	}

	&.contact_me {
		background: linear-gradient(135deg, #778899 0%, #DCDCDC 100%);
	}

	&.growing {
		p.modal-content {
			height: auto;
			margin: 0;
			opacity: 0;
			transition-delay: 0.5s;
		}
	}

	&.full-screen {
		height: 100vh;
		z-index: 100;
		margin: 0;
		border-radius: 0;

		.fa {
			font-size: 10vw;
		}

		.modal-content {
			height: auto;
			width: auto;
			margin: inital;
		}

		p.modal-content {
			transition-delay: 0.5s;
			opacity: 1;
		}
	}

	&.shrinking {
		p.modal-content {
			transition-delay: 0s;
			transition: 0.5s;
			opacity: 0;
			display: block;
		}
	}

	&-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		box-sizing: border-box;
	}
}